.header__logo {
  box-sizing: border-box;
  background-image: url(../../../images/logo_balanpanlar_1.svg);
  background-repeat: no-repeat;
  width: 101px;
  height: 100px;
  background-size: 100%;
}

@media screen and (max-width: 800px) {
  .header__logo {
    background-image: url(../../../images/logo_balanpanlar_2.svg);
    width: 165px;
    height: 30px;
    margin: 0 0 0 75px;
  }
}

@media screen and (max-width: 500px) {
  .header__logo {
    background-image: url(../../../images/logo_balanpanlar_2.svg);
    width: 100px;
    height: 18px;
    margin: 0 0 0 15px;
  }
}
