.header__logo {
  box-sizing: border-box;
  background-image: url(../../../images/logo_balanpanlar_1.png);
  background-repeat: no-repeat;
  width: 101px;
  height: 100px;
  background-size: 100%;
  margin: 10px 248px 10px 20px;
}
