.header__logo {
  /* box-sizing: border-box; */
  background: url(../../../images/logo_balanpanlar_1.png) no-repeat;
  /* background-repeat: no-repeat; */
  width: 100px;
  height: 100px;
  background-size: 100%;
  /* margin: 10px 248px 10px 20px; */
}
