.courses__programming-buttons-container {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 30px;
    left: 30px;
}

@media screen and (max-width: 690px) {
    .courses__programming-buttons-container {
        flex-direction: column-reverse;
        bottom: 15px;
        left: 15px
    }
}