.courses__programming-buttons-container {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 30px;
    left: 30px;
}

@media screen and (max-width: 680px) {
    .courses__programming-buttons-container {
        flex-direction: column-reverse;
        align-items: flex-start;
        left: 15px;
        bottom: 15px;
    }
}
