.courses__buy-container {
    width: 100%;    
    margin: 10px 0 0;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    padding: 30px;
    position: relative;
    border-radius: 60px;
    background-color: rgb(208, 221, 255);
    box-sizing: border-box;
}

@media screen and (max-width: 800px) {
    .courses__buy-container {
        flex-direction: column;
        max-width: calc(100% - 70px);
        padding-bottom: 125px;
    }
}

@media screen and (max-width: 680px) {
    .courses__buy-container {
        max-width: calc(100% - 20px);
        border-radius: 30px;
        padding: 15px 15px 105px;
    }
}
