.header__logo_scroll {
  background-image: url(../../../../images/logo_balanpanlar_2.svg);
  width: 192px;
  height: 36px;
  margin: 22px 157px 22px 20px;
  background-size: 100%;
}

@media screen and (max-width: 800px) {
  .header__logo_scroll {
    width: 165px;
    height: 30px;
  }
}
