.page {
    min-width: 320px;
    max-width: 1440px;
    margin: 0 auto;
    background-color: #EAF0FF;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    
    font-family: Montserrat, Arial, sans-serif;
}
