.header__navigation {
  display: flex;
  margin: 0;
  padding: 0;
  /* padding: 0 126px 0 0; */
}

@media screen and (max-width: 800px) {
  .header__navigation {
    flex-direction: column;
    justify-content: flex-end;
    padding: 60px 0 60px 0;
    align-items: center;
    width: 290px;
  }
}

@media screen and (max-width: 500px) {
  .header__navigation {
    padding: 30px 0 30px 0;
  }
}
