.lead__container {
    background-image: url(../../../images/fon.jpg);
    border-radius: 60px;
    aspect-ratio: 1.69;
    background-color: brown;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 680px) {
    .lead__container{
        border-radius: 40px;

    }
}