.courses__programming {
    margin: 40px 0 0;
    max-width: 1220px;
    background-color: #FFD643;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 70px;
}

@media screen and (max-width: 800px) {
    .courses__programming {
        width: 100%;
        padding: 40px 30px 30px;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 680px) {
    .courses__programming {
    }
}
