.courses__programming {
  background: rgba(255, 214, 67, 1);
  border-radius: 70px;

  padding: 50px 10px 10px;
}

/* Версия под планшет 744 в макете */
@media screen and (max-width: 1100px) {
  .courses__programming {
    padding: 40px 30px 30px;
    border-radius: 60px;
  }
}

/* Версия под мобильные 320 в макете */
@media screen and (max-width: 680px) {
  .courses__programming {
    padding: 50px 10px 10px;
    border-radius: 40px;
  }
}
