.header__navigation-list {
  list-style-type: none;
  padding-right: 30px;
}
.header__navigation-list:last-of-type {
  padding: 0;
}

@media screen and (max-width: 800px) {
  .header__navigation-list {
    padding-right: 0;
    padding-bottom: 30px;
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  .header__navigation-list {
    padding-bottom: 20px;
  }
}
