.header__navigation-link {
  color: #000000;
  /* font-family: "Montserrat"; */
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  transition: 0.2s linear;
  cursor: pointer;
}
.header__navigation-link:hover {
  color: rgba(0, 0, 0, 0.6);
}
