.courses__programming-header {
  padding: 0 0 10px 0;
  margin: 0;
  
  text-align: center;
}

/* Версия под планшет 744 в макете */
@media screen and (max-width: 800px) {
  .courses__programming-header {
    padding-bottom: 15px;
  }
}
