.about__header {
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 68px;
  letter-spacing: -1px;
  margin: 0;
}

@media screen and (max-width: 800px) {
  .about__header {
    font-size: 48px;
    line-height: 59px;
    letter-spacing: -1px;
  }
}

@media screen and (max-width: 680px) {
  .about__header {
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -1px;
  }
}