.about__header {
    margin-left: 120px;
    font-family: Montserrat, Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 68px;
    letter-spacing: -1px;
}