.about__header {
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 68px;
  letter-spacing: -1px;
  margin: 0;
}

@media screen and (max-width: 800px) {
  .about__header {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: -0.5px;
  }
}