.popup__partners {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 30px;
}

@media screen and (max-width: 800px) {
  .popup__partners {
    gap: 30px;
    padding: 30px;
  }
}

@media screen and (max-width: 680px) {
  .popup__partners {
    padding: 30px 15px;
  }
}
