.courses__programming-subtitle {
    margin: 10px 0 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.94px;
    text-align: center;
    max-width: 804px;
}

@media screen and (max-width: 800px) {
    .courses__programming-subtitle {
        margin: 0 0 40px;
    }
}

@media screen and (max-width: 680px) {
    .courses__programming-subtitle {
    }
}

