.lead__button-courses {
    margin: 0;
    height: 104px;
    width: 395px;
    padding: 0;
    border: none;
    border-radius: 50px;
    background-color: rgb(255, 118, 40);
    transition: 0.2s ease-in;
    color: white;
    font-size: 28px;
    font-weight: 600;
    line-height: 34px;
}

.lead__button-courses:hover {
    background-color: rgb(255, 133, 64);
    cursor: pointer;
}

@media screen and (max-width: 680px) {
    .lead__button-courses {
        width: 224px;
        height: 52px;
        font-size: 16px;
        line-height: 20px;
    }
}