.header__burger {
  display: none;
  position: relative;
  background-color: transparent;
  border: 0;
  font-size: 28px;
  width: 28px;
  height: 5px;
  margin-right: 75px;
}

.header__burger:hover {
  transition: opacity 0.5s ease;
  opacity: 0.4;
  cursor: pointer;
}

.header__burger::before,
.header__burger::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: #252525;
  position: absolute;
  left: 0;
}

.header__burger::before {
  top: 0;
}

.header__burger::after {
  top: 100%;
}

@media screen and (max-width: 800px) {
  .header__burger {
    display: flex;
  }
}

.header_burger-menu-open .header__burger {
  height: 20px;
  width: 20px;
}

.header_burger-menu-open .header__burger::before {
  transform: rotate(45deg);
  transition: 0.5s ease;
  top: 8px;
  left: -3px;
  width: 28px;
}

.header_burger-menu-open .header__burger::after {
  transform: rotate(-45deg);
  transition: 0.5s ease;
  top: 8px;
  left: -3px;
  width: 28px;
}
@media screen and (max-width: 500px) {
  .header__burger {
    margin-right: 15px;
  }
}
