.courses__other-courses-container {
    margin: 10px 0 0;
    max-width: 1220px;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1200px) {
    .courses__other-courses-container {
        flex-direction: column;
        max-width: none;
        width: calc(100% - 2*75px);
    }
}

@media screen and (max-width: 690px) {
    .courses__other-courses-container {
        width: calc(100% - 2*10px)
    }
}