.courses__other-courses-container {
    margin: 10px 0 0;
    max-width: 1220px;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 800px) {
    .courses__other-courses-container {
        flex-direction: column;
        padding: 0 35px;
    }
}

@media screen and (max-width: 680px) {
    .courses__other-courses-container {
        padding: 0 10px;
    }
}
