.button__enroll {
  width: 224px;
  height: 52px;
  margin-left: auto;
  padding: 16px 22px;
}

@media screen and (max-width: 800px) {
  .button__enroll {
    width: 395px;
    height: 104px;
    margin: 0;
    margin-bottom: 83px;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
  }
}

@media screen and (max-width: 500px) {
  .button__enroll {
    width: 224px;
    height: 52px;
    margin: 0;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 20px;
  }
}
