.partners__image_type_lectures {
    width: 184px;
    height: 56px;
    background-image: url(../../../../images/logo_lectures.png);
    background-size: contain;
    background-repeat: no-repeat;
    
}