.courses__title {
    margin: 19px 0 0 120px;
    font-size: 60px;
    font-weight: 600;
    line-height: 68px;
    letter-spacing: -1px;
    align-self: flex-start;
}

@media screen and (max-width: 800px) {
    .courses__title {
        margin-left: 35px; 
    }
}

@media screen and (max-width: 680px) {
    .courses__title {
        font-size: 36px;
        line-height: 44px;
        margin: 30px 15px 0;
    }
}
