.header_scroll {
  height: 80px;
  max-width: 1440px;
  position: fixed;
  top: 0;
  transition: 0.3s ease;
}

@media screen and (max-width: 800px) {
  .header_scroll {
    width: 744px;
    height: 80px;
    border-radius: 0;
    margin: auto;
    align-items: center;
  }
}

@media screen and (max-width: 500px) {
  .header_scroll {
    width: 320px;
    height: 42px;
  }
}
