.partners__header {
    margin: 0;
    /* box-sizing: border-box; */
    max-width: 821px;
    max-height: 44px;
    padding: 80px 310px 80px 310px;
    text-align: center;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
}