.popup__modal {
  position: relative;
  background: #fff;
  border: 1px solid rgba(234, 240, 255, 1);
  border-radius: 60px;
  max-width: 1200px;  
  min-width: 300px;
}

@media screen and (max-width: 680px) {
  .popup__modal {
    border-radius: 30px;
  }
}
