.courses__programming-title {
    margin: 50px 0 0;
    font-size: 36px;
    font-weight: 600;
    line-height: 43.88px;
    letter-spacing: -1px;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .courses__programming-title {
        margin: 0 0 15px;
        font-size: 30px;
        line-height: 37px;
    }
}

@media screen and (max-width: 680px) {
    .courses__programming-title {
    }
}

