.courses__programming-title {
    margin: 50px 0 0;
    font-size: 36px;
    font-weight: 600;
    line-height: 43.88px;
    letter-spacing: -1px;
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .courses__programming-title {
        margin: 40px 0 0;
    }
}

@media screen and (max-width: 690px){
    .courses__programming-title {
        margin: 50px 0 0;
        font-size: 24px;
    }
}
