.about__text {
    margin-left: 120px;
    font-family: Montserrat, Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -1px;
}