.popup {
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
}
