.partners__container {
    width: 885px;
    height: 239px;
    border: 2px solid #EAF0FF;
    border-radius: 60px;
    margin: 0 278px 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}